<section role="form" class="maxwidthcenter">

	<div id="contact-form-container">
	  <form id="contact-form" action="/api/1/getSingleKloutScore" enctype="multipart/form-data" method="POST">
	    <fieldset>
	      <div class="form-item">
	          <input name="twitter-username" type="name" required="true" value="" placeholder="Name"></input>
	      </div>
	      <div class="form-item">
	        <button id="connect-button"><span>Get Klout Score!</span></button>
	      </div>
	    </fieldset>
	  </form>
	</div>

	<div id="contact-response-container">
	</div>

</section>