<section role="form" class="maxwidthcenter">

	<div class="form-container">
	  <form id="get-single-score-form" action="/api/1/getSingleKloutScore" enctype="multipart/form-data" method="POST">
	    <fieldset>
	      <div class="form-item">
	          <input name="twitter-username" type="name" required="true" value="" placeholder="Name"></input>
	      </div>
	      <div class="form-item">
	        <button class="form-button" id="single-score-button"><span>Get Klout Score!</span></button>
	      </div>
	    </fieldset>
	  </form>
	</div>

	<div id="single-score-response-container">
	</div>

	<div class="form-container">
	  <form id="upload-csv-form" action="/api/1/getBatchKloutScoreCsv" enctype="multipart/form-data" method="POST">
	    <fieldset>
	      <div class="form-item">
	         <input name="csv-file" type="file" required="true" value=""></input>
	      </div>
	      <div class="form-item">
	        <button class="form-button" id="upload-csv-button"><span>Upload CSV File!</span></button>
	      </div>
	    </fieldset>
	  </form>
	</div>

	<progress></progress>

	<div id="csv-form-response-container">
		<p>Not yet</p>
	</div>

</section>