@import 'variables'

.blog p
 	margin 3% auto
  font-size 1.5em

.blog .read-more
	margin 3% auto
	display inline-block

.blog .date-tag
	background-color #000000
	padding 0 1%
	color #fff

.blog h1
	font-size: 2.4em
	padding-top: 1%
	margin-top 0
	font-family 'Brandon Regular', Helvetica, Arial
	border-top: 1px solid #4d4d4d

.blog h2
  padding 2.5% 0

.blog .date
  text-align right
  margin-bottom 0
  padding-bottom 0

.blog blockquote
	margin 0
	font-size 1.4em
	font-family 'Brandon Regular', Helvetica, Arial