@font-face 
  font-family 'Brandon Bold'
  src url('/font/web/brandon_bld-webfont.eot')
  src url('/font/web/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/web/brandon_bld-webfont.woff') format('woff'),
       url('/font/web/brandon_bld-webfont.ttf') format('truetype'),
       url('/font/web/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg')
  font-weight normal
  font-style normal


@font-face 
  font-family 'Brandon Light'
  src url('/font/web/brandon_light-webfont.eot')
  src url('/font/web/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/web/brandon_light-webfont.woff') format('woff'),
       url('/font/web/brandon_light-webfont.ttf') format('truetype'),
       url('/font/web/brandon_light-webfont.svg#brandon_grotesquelight') format('svg')
  font-weight normal
  font-style normal


@font-face 
  font-family 'Brandon Regular'
  src url('/font/web/brandon_reg-webfont.eot')
  src url('/font/web/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/web/brandon_reg-webfont.woff') format('woff'),
       url('/font/web/brandon_reg-webfont.ttf') format('truetype'),
       url('/font/web/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg')
  font-weight normal
  font-style normal


@font-face 
  font-family 'Brandon Thin'
  src url('/font/web/brandon_thin-webfont.eot')
  src url('/font/web/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/web/brandon_thin-webfont.woff') format('woff'),
       url('/font/web/brandon_thin-webfont.ttf') format('truetype'),
       url('/font/web/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg')
  font-weight normal
  font-style normal

