@import 'variables'

/* 1em = 16px */

/* 2560px */
@media only screen and (max-width: 160em)

  body
    display initial

/* 1920px */
@media only screen and (max-width: 120em)

  body
    display initial

/* 1440px */
@media only screen and (max-width: 90em)

  body
    display initial

/* 1248px */
@media only screen and (max-width: 78em)

  body
    display initial
  
/* 1024px */
@media only screen and (max-width: 64em)

  body
    display initial


/* 896px */
@media only screen and (max-width: 56em)

  body
    display initial

/* 768px */
@media only screen and (max-width: 48em)

  body
    display initial

/* 640px */
@media only screen and (max-width: 40em)

  body
    display initial

/* 480px */
@media only screen and (max-width: 30em)

  body
    display initial

/* 320px */
@media only screen and (max-width: 20em)

  body
    display initial

